<!-- Sharingbutton Facebook -->
<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Facebook">
<div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--medium"><div aria-hidden="true" class="fa-stack fa-2x resp-sharing-button__icon resp-sharing-button__icon--solid">
<i style="color: white;" class="fas fa-circle fa-stack-1x"></i>
<i style="color: #3b5998;" class="fab fa-facebook fa-stack-1x"></i>
</div>
</div>
</a>

<!-- Sharingbutton Twitter -->
<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?url={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Twitter">
<div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--medium"><div aria-hidden="true" class="fa-stack fa-2x resp-sharing-button__icon resp-sharing-button__icon--solid">
<i style="color: #00acee;" class="fab fa-twitter fa-stack-1x"></i>
</div>
</div>
</a>

<!-- Sharingbutton E-Mail -->
<a class="resp-sharing-button__link" href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink }}" target="_self" rel="noopener" aria-label="E-Mail">
<div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--medium"><div aria-hidden="true" class="fa-stack fa-2x resp-sharing-button__icon resp-sharing-button__icon--solid">
<i style="color: white;" class="fas fa-square fa-stack-1x"></i>
<i class="far fa-envelope-square fa-stack-1x"></i>
</div>
</div>
</a>

<!-- Sharingbutton LinkedIn -->
<a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;summary={{ .Title }}&amp;source={{ .Permalink }}" target="_blank" rel="noopener" aria-label="LinkedIn">
<div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--medium"><div aria-hidden="true" class="fa-stack fa-2x resp-sharing-button__icon resp-sharing-button__icon--solid">
<i style="color: white;" class="fas fa-square fa-stack-1x"></i>
<i style="color: #0e76a8;" class="fab fa-linkedin fa-stack-1x"></i>
</div>
</div>
</a>

<!-- Sharingbutton Reddit -->
<a class="resp-sharing-button__link" href="https://reddit.com/submit/?url={{ .Permalink }}&amp;resubmit=true&amp;title={{ .Title }}" target="_blank" rel="noopener" aria-label="Reddit">
<div class="resp-sharing-button resp-sharing-button--reddit resp-sharing-button--medium"><div aria-hidden="true" class="fa-stack fa-2x resp-sharing-button__icon resp-sharing-button__icon--solid">
<i style="color: white;" class="fas fa-circle fa-stack-1x"></i>
<i style="color: #FF5700;" class="fab fa-reddit fa-stack-1x"></i>
</div>
</div>
</a>
